<html>
  <head>
 
  </head>
  <body><div class="area"></div><nav class="main-menu">
            <ul>
            <br><br>
                <li>
                     <a routerLink="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Inicio
                        </span>
                    </a>
                  
                </li>
                <br>
                  <li>
                  <a routerLink="/informacion">
                        <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Funcionalidad
                        </span>
                    </a>
                </li>
                <br>
                <li class="has-subnav">
                     <a routerLink="/ver-productos">
                        <i class="fa fa-eye fa-2x"></i>
                        <span class="nav-text">
                            Ver frutas
                        </span>
                    </a>
                    
                </li>
                <br>
                <li class="has-subnav">
                    <a routerLink="/crear-producto">
                       <i class="fa fa-plus fa-2x"></i>
                        <span class="nav-text">
                            Agregar fruta
                        </span>
                    </a>
                    
                </li>
                <br>
                <li class="has-subnav">
                    <a routerLink="/creditos">
                     <i class="fa fa-user" aria-hidden="true"></i>

                        <span class="nav-text">
                            Creditos
                        </span>
                    </a>
                   
                </li> 
                <br> 
            </ul>

            <ul class="logout">
                <li>
                   <a target="_blank"href="https://github.com/jlospino10">
                         <i class="fa fa-github fa-2x"></i>
                        <span class="nav-text">
                            Github
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  </body>
    </html>
