 
<!-- Css Carousel-->
<div class="carrousel">
			 	 
<h1>Estructura de la pagina web</h1>	 			
			<input type="radio" name="slides" id="radio-1" checked>
			<input type="radio" name="slides" id="radio-2">
			<input type="radio" name="slides" id="radio-3">
			<input type="radio" name="slides" id="radio-4">
			
			<ul class="slides">
				 <li class="slide">
            <p>
               <q>FRONTED </q> 
              <span class="author" >
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ2StCR_ruuOcqeFL5Ny8sq63Uwp7ZzcT5Hg&usqp=CAU"  >
              ANGULAR
              </span>
            </p>
           </li>        
            <li class="slide">
              <p>
                <q>BACKEND</q> 
                <span class="author">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9umGTaIvqutL6wjWRGB78-FOqOzKoHc5HOQ&usqp=CAU">
                  NODE JS- EXPRESS
                </span>
              </p>
           </li>
          <li class="slide">
             <p>
                <q>GESTOR DB</q> 
                <span class="author">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTh0mBuNYLyormXK5gSX2WEQSSpy3Qyq9zmbQ&usqp=CAU">
              MONGO DB
                </span>
             </p>
          </li>
          <li class="slide">
            <p>
              <q>STACK USADO</q> 
              <span class="author">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4kTWbpRQ1cVhW_u7iwWJzueZYB0Y1YtOtWw&usqp=CAU">
               MEAN
              </span>
            </p>
           </li>
			</ul>
			 
			<div class="slidesNavigation">
				<label for="radio-1" id="dotForRadio-1"></label>
				<label for="radio-2" id="dotForRadio-2"></label>
				<label for="radio-3" id="dotForRadio-3"></label>
				<label for="radio-4" id="dotForRadio-4"></label>
			</div>
</div>		 
