<section class="container">
    <div class="row">
        <div class="col-6 offset-3 error404 d-flex justify-content-center align-items-center flex-column">
             
            
            <h5>Realizar proyecto en angular </h5>
            <ul>
            <li><p>Vistas</p></li>
            <span>&#10003;</span> <a routerLink="/"> Inicio </a>
            <span>&#10003;</span> <a routerLink="/ver-productos"> Lista de frutas </a>
            <span>&#10003;</span> <a routerLink="/crear-producto"> Agregar fruta </a>
            <span>&#10003;</span> <a routerLink="/informacion"> Informacion </a> <br>
            <span>&#10003;</span> <a routerLink="/creditos"> Estudiante </a>
             
            <li> <p>form reactivo</p></li>
            <span>&#10003;</span> <a routerLink="/crear-producto"> form reactivo </a>
           <li>  <p>configuracion 404</p></li>
             <span>&#10003;</span> <a routerLink="/esta_ruta_no_existe">ruta no existente</a>
           <li>   <p>servicios</p></li>
              <span>&#10003;</span> <a routerLink="/ver-productos">Funcionamiento del crud</a>
            </ul>
            <h5>Realizar proyecto en express (api)</h5> <br>
            <span>&#10003;<a target="_blank" href="http://localhost:3000/api/frutas">Api</a></span>  
            
            <p></p>
            <button class="btn btn-dark" routerLink="/">Volver al inicio</button>
        </div>
    </div>
</section>
